TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [8]:
def reversed_string(input_string):
    reversed_string = ""
    for char in input_string:
        reversed_string = char + reversed_string
    return reversed_string   
input_str = "Hello, World!"
reversed_str = reversed_string(input_string)
print(reversed_str)

!dlroW ,olleH

2. Check if a string is a palindrome.

In [17]:
def is_palindrome(s):
    S = s.lower()
    S = ''.join(e for e in S if e.isalnum())
    return S == S[::-1]

print(is_palindrome("racecar"))
print(is_palindrome("mouse"))

True
False

3. Convert a string to uppercase.

In [19]:
input_string= input("Enter a string: ")
uppercase = input_string.upper()
print("Uppercase string:", uppercase)

Enter a string:  hello what are you doing

Uppercase string: HELLO WHAT ARE YOU DOING

4. Convert a string to lowercase.

In [23]:
input_string = input("Enter a string: ")
Lowercase = input_string.lower()
print("Lowercase string:", Lowercase)

Enter a string:  hELLO HOW ARE YOU DOING

Lowercase string: hello how are you doing

5. Count the number of vowels in a string.

In [26]:
def count_vowels(string):
    vowel_count = 0
    string = string.lower()
    vowels = set("aeiou")
    for char in string:
        if char in vowels:
            vowel_count += 1
    return vowel_count 
input_string = "Hello, how are you everyone?"
result = count_vowels(input_string)
print("Number of vowels:", result)

Number of vowels: 11

6. Count the number of consonants in a string.

In [31]:
def count_con(string):
    con_count = 0
    con = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    for char in string:
        if char in con:
            con_count += 1
    return con_count

input_string = input("Enter a string: ")
result = count_con(input_string)
print("Number of consonants:", result)

Enter a string:  DSM Pro

Number of consonants: 5

7. Remove all whitespaces from a string.

In [35]:
def remove_whitespace(input_string):
    result = ""
    for char in input_string:
        if char != " ":
            result += char
    return result


input_string = "Hello World!   How    it is ?"
output_string = remove_whitespace(input_string)
print(output_string)

HelloWorld!Howitis?

8. Find the length of a string without using the `len()` function.

In [56]:
string = input ("Enter a string:")
count = 0
for letter in string:
        count = count+1
print(count)

Enter a string:  hello

5

9. Check if a string contains a specific word.

In [59]:
input_string = input("Enter a string: ")
specific_word = input("Enter the specific word to check for: ")
if specific_word in input_string:
    print(f"The string contains the word {specific_word}.")
else:
    print(f"The string does not contain the word {specific_word}.")

Enter a string:   my class name is Siddhant Kumar class
Enter the specific word to check for:  Kumar

The string contains the word Kumar .

10. Replace a word in a string with another word.

In [61]:
input_string = input("Enter a string: ")
old_word = input("Enter the word to be replaced: ")
new_word = input("Enter the new word: ")
mod_string = input_string.replace(old_word,new_word)
print("modified string:" , mod_string)

Enter a string:  hello world
Enter the word to be replaced:  world
Enter the new word:  everyone

modified string: hello everyone

11. Count the occurrences of a word in a string.

In [74]:
def count_word_occurrences(input_string, target_word):
    word_count = 0
    words = input_string.split()
    for word in words:
        if word == target_word:
            word_count += 1
    return word_count
input_string = "This is a sample sentence. This sentence contains the word 'sample' multiple times."
target_word = "sample"
result = count_word_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {result} times in the input string.")

The word 'sample' appears 1 times in the input string.

12. Find the first occurrence of a word in a string.

In [80]:
def find_first_occurrance(text, word):
    index = text.find(word)
    if index == -1:
        return none
    return index
text = "This is an example sentence. This sentence contains the word example."
word = "sentence"
result = find_first_occurrance(text, word)
print("Index of the first occurrance:",result)

Index of the first occurrance: 19

13. Find the last occurrence of a word in a string.

In [81]:
def find_last_occurrance(text, word):
    index = text.rfind(word)
    if index == -1:
        return none
    return index
text = "This is an example sentence. This sentence also contains the word example."
word= "example"
result = find_last_occurrance(text,word)
print("Index of the last occurrance:", result)

Index of the last occurrance: 66

14. Split a string into a list of words.

In [82]:
def split_string_into_words(text):
    words_list = text.split()
    return words_list
text = "This is an example sentence."
words = split_string_into_words(text)
print("List of words:",words)

List of words: ['This', 'is', 'an', 'example', 'sentence.']

15. Join a list of words into a string.

In [83]:
def join_words_into_string(words_lists):
    joined_string = " ".join(words_lists)
    return joined_string
words = ["This", "is" , "an" , "example", "sentence."]
text = join_words_into_string(words)
print("joined string:",text)

joined string: This is an example sentence.

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [4]:
def convert_to_underscore_sep(text):
    underscore_seperated = text.replace(" ","_")
    return underscore_seperated
text = "this is an example sentence."
converted_tex = convert_to_underscore_sep(text)
print("converted text:", converted_tex)

converted text: this_is_an_example_sentence.

17. Check if a string starts with a specific word or phrase.

In [11]:
def starts_with(text, prefix):
    is_start = text.startswith(prefix)
    return is_start
text = "Hello, World!"
prefix = "l"
result = starts_with(text, prefix)
if result:
    print("The text start with the prefix.")
else:
    print("The text does not start with prefix.")

The text does not start with prefix.

18. Check if a string ends with a specific word or phrase.

In [14]:
def ends_with(text, suffix):
    is_end = text.endswith(suffix)
    return is_end
text = "Hello, World!"
suffix = "World!"
result = ends_with(text, suffix)
if result:
    print("The text ends with the suffix.")
else:
    print("The text does not end with suffix")

The text ends with the suffix.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [17]:
def convert_to_title_case(text):
    title_case_text = text.title()
    return title_case_text
text = "hello! world"
title_case = convert_to_title_case(text)
print("Title case:", title_case)

Title case: Hello! World

In [25]:
a=input()
b = a.title()
print(b)

 sid kum pw skill

Sid Kum Pw Skill

20. Find the longest word in a string.

In [28]:
def find_longest_word(text):
    words = text.split()
    longest_word = ""
    max_length = 0
    for word in words:
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word
    return longest_word

text = "This is example sentence with some aaaaaaaaaaaaalong words."
longest_word = find_longest_word(text)
print("Longest Word:",longest_word)

Longest Word: aaaaaaaaaaaaalong

21. Find the shortest word in a string.

In [37]:
def shortest_word(text):
    words = text.split()
    shortest_word = None
    min_length = float('inf')
    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word
    return shortest_word
text = "This iss an example text"
print("Shortest word:", shortest_word(text))

Shortest word: an

22. Reverse the order of words in a string.

In [38]:
def string(a):
    return a [::-1]
b = string("Reverse the order of words in string")
print("Reverse string:", b)

Reverse string: gnirts ni sdrow fo redro eht esreveR

23. Check if a string is alphanumeric.

In [39]:
def is_alphanumeric(text):
    return text.isalnum()
text = "Hello123"
result = is_alphanumeric(text)
if result:
    print("The string is alphanumeric")
else:
    print("The string is not alphanumeric")

The string is alphanumeric

24. Extract all digits from a string.

In [43]:
def extract_digit(text):
    digits = ""
    for char in text:
        if char.isdigit():
            digits += char
    return digits
text = "Hello123world456"
ext_dig = extract_digit(text)
print("Extracted digits:", ext_dig)

Extracted digits: 123456

25. Extract all alphabets from a string.

In [44]:
def extract_alphaa(input_string):
    alphabets = ' '.join([char for char in input_string if char.isalpha()])
    return alphabets
input_string = "Hello123word456"
result = extract_alphaa(input_string)
print(result)

H e l l o w o r d

26. Count the number of uppercase letters in a string.

In [45]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count
input_string = "HelloWOrlD"
result = count_uppercase(input_string)
print(result)

4

27. Count the number of lowercase letters in a string.

In [46]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count
input_string = "HelloWOrld"
result = count_lowercase(input_string)
print(result)

7

28. Swap the case of each character in a string.

In [47]:
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string

input_string = "HelloWORLd"
result = swap_case(input_string)
print(result)

hELLOworlD

29. Remove a specific word from a string.

In [49]:
def remove_word(input_string, word_to_remove):
    words = input_string.split()
    filtered_words = [word for word in words if word != word_to_remove]
    modified_string = ' '.join(filtered_words)
    return modified_string
input_string = "Hello world, welcome to the world of programming."
word_to_remove = "world"
result = remove_word(input_string, word_to_remove)
print(result)

Hello world, welcome to the of programming.

30. Check if a string is a valid email address.

In [50]:
import re
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):
        return True
    else:
        return False
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

31. Extract the username from an email address string.

In [51]:
def extract_username(email):
    username = email.split('@')[0]
    return username

email = "example@email.com"
result = extract_username(email)
print(result)

example

32. Extract the domain name from an email address string.

In [53]:
def extract_domain(email):
    domain = email.split('@')[1]
    return domain
email = "example@email.com"
result = extract_domain(email)
print(result)

email.com

33. Replace multiple spaces in a string with a single space.

In [1]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())
    return cleaned_string
input_string = "Hello     world!   how    are     you    doing?"
result = replace_multiple_spaces(input_string)
print(result)

Hello world! how are you doing?

34. Check if a string is a valid URL.

In [2]:
from urllib.parse import urlparse
def is_valid_url(url):
    try:
        result= urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False
    
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  
print(result2)

True
False

35. Extract the protocol (http or https) from a URL string.

In [3]:
def extract_protocol(url):
    protocol_end = url.find("://")
    if protocol_end != -1:
        protocol= url[:protocol_end]
        return protocol
    else:
        return None
    
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)
        
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

36. Find the frequency of each character in a string.

In [4]:
def character_frequency(input_string):
    frequency = {}
    
    for char in input_string:
        if char in frequency:
            frequency[char] += 1 
        else:
            frequency[char] = 1
    return frequency
input_str ="Hello World"
char_freq = character_frequency(input_str)
for char, freq in char_freq.items():
    print(f"character: '{char}',Frequency;{freq}")

character: 'H',Frequency;1
character: 'e',Frequency;1
character: 'l',Frequency;3
character: 'o',Frequency;2
character: ' ',Frequency;1
character: 'W',Frequency;1
character: 'r',Frequency;1
character: 'd',Frequency;1

37. Remove all punctuation from a string.

In [7]:
import string

def remove_punctuation(input_string):
    translator = str.maketrans("", "", string.punctuation)
    clean_string = input_string.translate(translator)
    return clean_string

input_str = "Hello, world! How's it going?"
cleaned_str = remove_punctuation(input_str)
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

38. Check if a string contains only digits.

In [8]:
def contains_only_digits(input_string):
    return input_string.isdigit()

string1 = "12345"
string2 = "Hello123"
string3 = "456.789"

result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)

print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'Hello123' contains only digits: False
'456.789' contains only digits: False

In [9]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()

string1 = "Hello"
string2 = "Hello123"
string3 = "12345"
    
result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)    

print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'Hello' contains only alphabets: True
'Hello123' contains only alphabets: False
'12345' contains only alphabets: False

40. Convert a string to a list of characters.

In [10]:
def string_to_list(input_string):
    char_list = list(input_string)
    return char_list

input_str = "Hello, World!"

char_list = string_to_list(input_str)

print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hello, World!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

41. Check if two strings are anagrams.

In [12]:
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

42. Encode a string using a Caesar cipher.

In [18]:
def caesar_cipher(text,shift):
    encoded_text = ""

    for char in text:
        if char.isalpha():
            encoded_char = chr((ord(char) + shift - ord('a')) %26 + ord('a'))
        else:
            encoded_char = char
            
        encoded_text += encoded_char
    return encoded_text
text = "Hello, world!"
shift = 3
encoded_text = caesar_cipher(text, shift)
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

43. Decode a Caesar cipher encoded string.

In [19]:
def caesar_cipher_decoder(text, shift):
    decoded_text = ""
    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char
        decoded_text += decoded_char 
    return decoded_text
text = "lopp, zruog!"
shift = 3

decoded_text = caesar_cipher_decoder(text, shift)

print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

44. Find the most frequent word in a string.

In [30]:
from collections import Counter

input_string = "Hello world, hello there! How's the world? world world world/'"
split_it = input_string.split()
Counters_found = Counter(split_it)

most_occur = Counters_found.most_common(4)
print(most_occur)

[('world', 2), ('Hello', 1), ('world,', 1), ('hello', 1)]

45. Find all unique words in a string.

In [31]:
import re

def unique_words(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = set(clean_string.split())
    return words
input_str = "Hello world, hello there! how's it going?
unique_word_set = unique_words(input_str)
print("unique words:", unique_word_set)

Object `going` not found.
unique words: {'world', 'hello'}

46. Count the number of syllables in a string.

In [34]:
import re
def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    return len(vowel_groups)

word1 = "Hello"
word2 = "banana"
word3 = "syllable"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'Hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

47. Check if a string contains any special characters.

In [35]:
import re
def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    return bool(match)
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

48. Remove the nth word from a string.

In [41]:
def remove_nth_word(input_string , n):
    words = input_string.split()
    if n >= 1 and n <= len(words):
        removed_word = words.pop(n-1)
        modified_string = ' '.join(words)
        return modified_string, removed_word
    else:
        return None, None
    input_str = "This is an example sentence to test the function."
    n_value = 4
    
    modified_str, removed_word = remove_nth_word(input_str, n_value)
    print ("Original string:",input_str)
    if modified_str is not None:
        print("Modified string:", modified_str)
        print("Removed word:", removed_word)
    else:
        print("Invalid n value.")

49. Insert a word at the nth position in a string.

In [47]:
a = "This is an example sentence to test the function."
add_word = "for"
print("The original string : " + a)
print("The add string : " + add_word)
n = 4
res = a[ : n] + add_word + a[n : ]
     
print("The string after performing addition : " + str(res))

The original string : This is an example sentence to test the function.
The add string : for
The string after performing addition : Thisfor is an example sentence to test the function.

50. Convert a CSV string to a list of lists.

In [53]:
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []
    for line in lines:
        fields = line.split(',')
        result.append(fields)
    return result
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBOb, 22, UK"

list_of_lists = csv_string_to_list(csv_data)
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['BOb', ' 22', ' UK']

List Based Practice Problem

1. Create a list with integers from 1 to 10.

In [8]:
int_list = [i for i in range(1,11)]
print(int_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [11]:
def len_fun(listt):
    count = 0
    for _ in listt:
        count += 1
    return count

listtt = [1,2,3,4,5,6,7]
length = len_fun(listtt)
print("Length of list: ", length)

Length of list:  7

3. Append an element to the end of a list.

In [14]:
list1 = [1,2,3,4,5]
element = 6
list1.append(element)
print ("New list is: ",list1)

New list is:  [1, 2, 3, 4, 5, 6]

4. Insert an element at a specific index in a list.

In [18]:
list1 = [1,2,3,4,5]
element = 6
index = 2
list1.insert(index,element)
print ("Element added at certain index point:",list1)

Element added at certain index point: [1, 2, 6, 3, 4, 5]

5. Remove an element from a list by its value.

In [19]:
list1 = [1,2,3,4,45,5,6]
element_remove = 45
list1.remove(45)
print("New List:",list1)

New List: [1, 2, 3, 4, 5, 6]

6. Remove an element from a list by its index.

In [21]:
list1 = [1,2,3,4,5,77]
index = 5
removed_element = list1.pop(index)

print("Updated List:",list1)
print("Removed Element:", removed_element)

Updated List: [1, 2, 3, 4, 5]
Removed Element: 77

7. Check if an element exists in a list.

In [24]:
list1 = [1,2,3,4,5,6,100]
element_to_check = 100

if element_to_check in list1:
    print(f"{element_to_check} is present in the list")
else:
    print(f"{element_to_check} is not present in the list")

100 is present in the list

8. Find the index of the first occurrence of an element in a list.

In [27]:
list1 = [1,2,3,4,5,6]
element_to_find = 1
index = list1.index(element_to_find)
print(f"{element_to_find} comes at {index} index position")

1 comes at 0 index position

9. Count the occurrences of an element in a list.

In [30]:
list1 = [1,2,3,4,5,3,3,3]
element = 3
count = list1.count(element)
print(f"{element} occurs {count} times in the list")

3 occurs 4 times in the list

10. Reverse the order of elements in a list.

In [34]:
list1 = [1,2,3,4,5,6,7]
list1.reverse()
print(list1)

[7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [35]:
list1 = [5,37,34,123,8,234,6654,43,467,63,65]
list1.sort()
print("Sorted list:",list1)

Sorted list: [5, 8, 34, 37, 43, 63, 65, 123, 234, 467, 6654]

12. Sort a list in descending order.

In [37]:
list1 = [5,37,34,123,8,234,6654,43,467,63,65]
list1.sort(reverse = True)
print("Sorted list:", list1)

Sorted list: [6654, 467, 234, 123, 65, 63, 43, 37, 34, 8, 5]

13. Create a list of even numbers from 1 to 20.

In [38]:
list1 = [i for i in range(2,21,2)]
print(list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [39]:
list1 = [i for i in range(1,21,2)]
print(list1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [40]:
list1 = [1,2,3,4,5,6,7,8]
total_sum = sum(list1)
print("Total sum is:",total_sum)

Total sum is: 36

16. Find the maximum value in a list.

In [41]:
list1 = [1,2,3,4,5,6,7,8]
max_num = max(list1)
print("max no is:", max_num)

max no is: 8

17. Find the minimum value in a list.

In [42]:
list1 = [1,2,3,4,5,6,7,8]
min_no = min(list1)
print("min no is",min_no)

min no is 1

18. Create a list of squares of numbers from 1 to 10.

In [43]:
square = [x**2 for x in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [45]:
import random
random_integer = [random.randint(1,100) for _ in range(10)]
print(random_integer)

[68, 99, 84, 15, 46, 15, 19, 26, 9, 18]

20. Remove duplicates from a list.

In [46]:
my_list = [10, 20, 30, 20, 40, 10, 50, 30]
new_list = list(set(my_list))
print(new_list)

[40, 10, 50, 20, 30]

21. Find the common elements between two lists.

In [48]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = [element for element in list1 if element in list2]

print("List 1:", list1)
print("List 2:", list2)
print("Common Elements:", common_elements)

List 1: [1, 2, 3, 4, 5]
List 2: [3, 4, 5, 6, 7]
Common Elements: [3, 4, 5]

22. Find the difference between two lists.

In [49]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

difference = list(set(list1).difference(list2))
print("Difference between lists:", difference)

Difference between lists: [20, 10]

23. Merge two lists.

In [50]:
list1 = [10, 20, 30]
list2 = [40, 50, 60]

merged_list = list1 + list2

print("Merged list is:", merged_list)

Merged list is: [10, 20, 30, 40, 50, 60]

24. Multiply all elements in a list by 2.

In [51]:
list1 = [1,2,3,4,5]
new_list = [x*2 for x in list1]
print(new_list)

[2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [52]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
even_list = [num for num in list1 if num % 2 != 0]
print("List without even number:", even_list)

List without even number: [1, 3, 5, 7, 9, 11, 13, 15]

26. Convert a list of strings to a list of integers.

In [53]:
string_list = ["1","2","3","4","5","6","7","8","9"]
int_list = [int(x) for x in string_list]
print(int_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

27. Convert a list of integers to a list of strings.

In [54]:
int_list = [1,2,3,4,5,6]
string_list = [str(x) for x in int_list]
print(string_list)

['1', '2', '3', '4', '5', '6']

28. Flatten a nested list.

In [56]:
nested_list = [[1,2,3],[4,5],[6,7,8,9]]

def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

flattened_list = flatten_list(nested_list)

print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [57]:
def generate_fibonacci(n):
    fibonacci_list = [0,1]
    
    for i in range(2,n):
        next_fibonacci = fibonacci_list[i-1] + fibonnacci_list[i-2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list

fibonacci_number = generate_fibonacci(2)
print(fibonacci_number)

[0, 1]

30. Check if a list is sorted.

In [61]:
def is_sorting(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i-1]:
            return False
    return True
    
acd_list = [1,2,3,4,5,6]
if is_sorting(acd_list):
    print("The list is sorted in ascending order")
else:
    print("The list is not sorted")

The list is sorted in ascending order

31. Rotate a list to the left by `n` positions.

In [1]:
def rotate_left(lst, n):
    n = n % len(lst)
    rotated = lst[n:] + lst[:n]
    return rotated

list1 = [1,2,3,4,5]

n = 3
rotated_list = rotate_left(list1, n)
print("Rotated List:", rotated_list)

Rotated List: [4, 5, 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [4]:
def rotate_right(lst, n):
    n = n% len(lst)
    rotated = lst[-n:] + lst[:-n]
    return rotated

list1 = [1,2,3,4,5]
n = 2
rotated_list = rotate_right(list1, n)
print("Rotated list:", rotated_list)

Rotated list: [4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [7]:

def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        print(i,num)
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True


prime_numbers = [num for num in range(2,30) if is_prime(num)]

print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

34. Split a list into chunks of size `n`.

In [10]:
def chunk_list(lst, chunk):
    return [lst[i:i + chunk] for i in range(0, len(lst), chunk)]

list1 = [1,2,3,4,5,6,7,8,9]
chunk1 = 2

result = chunk_list(list1, chunk1)
print(f"Chunked List (chunks of size {chunk1}): {result}")

Chunked List (chunks of size 2): [[1, 2], [3, 4], [5, 6], [7, 8], [9]]

35. Find the second largest number in a list.

In [12]:
list1 = [10,234,123,50,212,52]

sorted_list = sorted(set(list1))

if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number is:", second_largest)
else:
    print("The list is not big enough")

Second largest number is: 212

36. Replace every element in a list with its square.

In [13]:
my_list = [2, 4, 6, 8, 10]

square_list = [x**2 for x in my_list]
print(square_list)

[4, 16, 36, 64, 100]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [15]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
my_dict = {elements : index for index, elements in enumerate(my_list)}

print("New Dict:", my_dict)

New Dict: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

38. Shuffle the elements of a list randomly.

In [16]:
import random

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

random.shuffle(my_list)

print(my_list)

[6, 9, 2, 1, 5, 7, 8, 4, 3, 10]

39. Create a list of the first 10 factorial numbers.

In [18]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)
    
factorial_number = [factorial(i) for i in range (10)]
print("First 10 factorial numbers:",factorial_number)

First 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [21]:
def common(list1, list2):
    for items in list1:
        if items in list2:
            return True
    return False

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

if common(list1, list2):
    print("has common element")
else:
    print("No common element")

has common element

41. Remove all elements from a list.

In [1]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print("Empty list:", my_list)

Empty list: []

42. Replace negative numbers in a list with 0.

In [6]:
my_list = [10, -5, 20, -15, 30, -25]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
        
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

43. Convert a string into a list of words.

In [7]:
my_string = "Hello, this is a sample sentence."

new_list = my_string.split()

print("List of words:", new_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

44. Convert a list of words into a string.

In [8]:
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

new_string = " ".join(word_list)

print("New String:", new_string)

New String: Hello, this is a sample sentence.

45. Create a list of the first `n` powers of 2.

In [10]:
n = 6

power_list = [ 2** i for i in range(n)]

print("List of first", n ,"power of 2 are", power_list)

List of first 6 power of 2 are [1, 2, 4, 8, 16, 32]

46. Find the longest string in a list of strings.

In [11]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s
        
print("Longest String:", longest_string)

Longest String: elderberry

47. Find the shortest string in a list of strings.

In [12]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

shortest_string = string_list[0]
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
        
print("Shortest String:", shortest_string)

Shortest String: date

48. Create a list of the first `n` triangular numbers.

In [14]:
n = 5

def triangular_number(n):
    return [i*(i+1)//2 for i in range(1, i+1)]

triangular_list = triangular_number(n)
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [15]:
def is_subsequence(subsequence, main_list):
    subseq_index = 0
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

if is_subsequence(subsequence, main_list):
    print("Main list cntains sub")
else:
    print("Main list does not contain")

Main list cntains sub

50. Swap two elements in a list by their indices.

In [17]:
my_list = [1, 2, 3, 4, 5]

index1 = 1
index2 = 3

temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp 

print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [1]:
tuple1 = (1,2,3,4,5)
print(tuple1)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [2]:
tuple1 = (1,2,3,4,5)
tuple1[2]

3

3. Find the length of a tuple without using the `len()` function.

In [4]:
tuple1 = (1,2,3,4,5,6,7)
count = 0
for _ in tuple1:
    count += 1
    
print("The length of tple is:", count)

The length of tple is: 7

4. Count the occurrences of an element in a tuple.

In [6]:
tuple1 = (3,2,3,4,3,6,3)
element = 3
count = 0
for items in tuple1:
    if items == element:
        count += 1
            
print(f"The element {element} appears {count} times")

The element 3 appears 4 times

5. Find the index of the first occurrence of an element in a tuple.

In [8]:
tuple1 = (1,2,3,4,5,6,7,8)
element = 5
index = -1

for i, items in enumerate(tuple1):
    if items == element:
        count = i
        break
if index != -1:
    print(f"The first occurrance of {element} is at {count}")
else:
    print(f"the element {element} is not present in tuple")

the element 5 is not present in tuple

6. Check if an element exists in a tuple.

In [11]:
my_tuple = (10, 20, 30, 40, 50)

element = 60

if element in my_tuple:
    print(f"The element {element} is present")
else:
    print(f"The element {element} is not present")

The element 60 is not present

7. Convert a tuple to a list.

In [13]:
my_tuple = (10, 20, 30, 40, 50)
list_tuple = list(my_tuple)
print("tuple",my_tuple)
print("list:",list_tuple)

tuple (10, 20, 30, 40, 50)
list: [10, 20, 30, 40, 50]

8. Convert a list to a tuple.

In [14]:
my_list = [10, 20, 30, 40, 50]
my_tuple = tuple(my_list)

print("tuple",my_tuple)
print("list:",my_list)

tuple (10, 20, 30, 40, 50)
list: [10, 20, 30, 40, 50]

9. Unpack the elements of a tuple into variables.

In [16]:
my_tuple = (221,21,31)

var1, var2, var3 = my_tuple

print("var1", var1)
print("var2", var2)
print("var3", var3)

var1 221
var2 21
var3 31

10. Create a tuple of even numbers from 1 to 10.

In [17]:
even_no = [num for num in range(2,11,2)]

my_tuple = tuple(even_no)

print(my_tuple)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [18]:
odd_number = [num for num in range(1,11,2)]

my_tuple = tuple(odd_number)

print(my_tuple)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [19]:
tuple1 = (1,2,3,4)
tuple2 = (5,6,7,8)

my_tuple = tuple1 + tuple2

print(my_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

13. Repeat a tuple three times.

In [20]:
tuple1 = (1,2,3,4)

tuple3 = tuple1 * 3

print(tuple3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

14. Check if a tuple is empty.

In [21]:
empty_tuple = ()
no_empty_tuple = (1,2,3)

if not empty_tuple:
    print("its empty")
else:
    print("not empty")

if not no_empty_tuple:
    print("tuple empty")
else:
    print("not empty")

its empty
not empty

15. Create a nested tuple.

In [24]:
nested_tuple = ((1,2,3),("a","b","c"),(True,False))
print("Nested Tuple:", nested_tuple)

Nested Tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

17. Create a tuple with a single element.

In [7]:
element1 = (10,)
print(type(element1))
print("Single Element:", element1)

<class 'tuple'>
Single Element: (10,)

18. Compare two tuples.

In [10]:
tuple1 =(1,2,3)
tuple2 =(1,2,4)

print("tuple1 == tuple2", tuple1 == tuple2)
print("tuple1 != tuple2", tuple1 != tuple2)
print("tuple1 > tuple2", tuple1 > tuple2)
print("tuple1 >= tuple2", tuple1 >= tuple2)
print("tuple1 < tuple2", tuple1 < tuple2)
print("tuple1 <= tuple2", tuple1 <= tuple2)

<class 'tuple'>
tuple1 == tuple2 False
tuple1 != tuple2 True
tuple1 > tuple2 False
tuple1 >= tuple2 False
tuple1 < tuple2 True
tuple1 <= tuple2 True

19. Delete a tuple.

In [22]:
tuple1 = (1,2,3)
del tuple1
print(tuple1)

NameError: name 'tuple1' is not defined

20. Slice a tuple.

In [24]:
tuple1 = (1,2,3,4,5,6,7,8,9)
slice = tuple1[2:6]
print(slice)

(3, 4, 5, 6)

21. Find the maximum value in a tuple.

In [27]:
tuple1 = 1,2,3,4,5,6,7,35,43,86,23
tuple11 = max(tuple1)
print(tuple11)

86

22. Find the minimum value in a tuple.

In [28]:
tuple1 = 2,3,4,5,6,7,35,43,86,23
tuple22 = min(tuple1)
print(tuple22)

2

23. Convert a string to a tuple of characters.

In [30]:
string1 = "Hello World"
tuple1 = tuple(string1)

print("String to tuple:", tuple1)

String to tuple: ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

24. Convert a tuple of characters to a string.

In [37]:
tuple1 = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')
string1 = ' '.join(tuple1)
print(string1)

H e l l o   W o r l d

25. Create a tuple from multiple data types.

In [39]:
tuple1 = (1,2,3, "sidd" , True)
print(tuple1)

(1, 2, 3, 'sidd', True)

26. Check if two tuples are identical.

In [41]:
tuple1 = (1,2,3)
tuple2 = (1,2,3)
tuple3 = (4,5,6)

iden1 = tuple1 == tuple2
iden2 = tuple1 == tuple3

print("tuple1 and tuple2 are identical:", iden1)
print("tuple1 and tuple3 are identical:", iden2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

27. Sort the elements of a tuple.

In [45]:
tuple1 = (1,3,5,2,3,6,7,8,7,7,6)
sortedt = tuple(sorted(tuple1))
print(sortedt)

(1, 2, 3, 3, 5, 6, 6, 7, 7, 7, 8)

28. Convert a tuple of integers to a tuple of strings.

In [48]:
tuple_int = (1,2,3,4,5,6)
t_string = tuple(str(items) for items in tuple_int)
print(t_string)

('1', '2', '3', '4', '5', '6')

29. Convert a tuple of strings to a tuple of integers.

In [50]:
tuple_of_strings = ('10', '20', '30', '40', '50')
tuple_of_integers = tuple(int(items) for items in tuple_of_strings)
print(tuple_of_integers)

(10, 20, 30, 40, 50)

30. Merge two tuples.

In [51]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [4]:
nested_tuple = ((1,2,3),(4,5,6),(7,8,(9,10)))


def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flatten Tuple:", flattened_tuple)

Flatten Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

32. Create a tuple of the first 5 prime numbers.

In [5]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_number = [num for num in range(2, 100) if is_prime(num)][:5]
prime_number_tuple = tuple(prime_number)
print("First 5 prime number:", prime_number_tuple)

First 5 prime number: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [7]:
def is_palindrome(tup):
    return tup == tup[::-1]

palindrome_tuple = (1,2,3,2,1)
non_palindrome_tuple = (1,2,3,4,5)

is_palindrome1 = is_palindrome(palindrome_tuple) 
is_palindrome2 = is_palindrome(non_palindrome_tuple)

print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

34. Create a tuple of squares of numbers from 1 to 5.

In [11]:
square_tuple = tuple(x * 2 for x in range(1,6))

print(square_tuple)

(2, 4, 6, 8, 10)

35. Filter out all even numbers from a tuple.

In [12]:
tuple1 = (1,2,3,4,5,6,7,8,9,10)
even_tuple = tuple(num for num in tuple1 if num % 2 != 0)
print(even_tuple)

(1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [17]:
tuple1 = (1,2,3,4,5)
tuple2 = tuple(num*2 for num in tuple1)
print(tuple2)

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [18]:
import random
random_tuple = tuple(random.randint(1,100) for _ in range(10))
print(random_tuple)

(13, 27, 22, 34, 24, 35, 84, 100, 67, 98)

38. Check if a tuple is sorted.

In [21]:
def is_sorted(tup):
    for i in range(len(tup) -1):
        if tup[i] > tup[i+1]:
            return False
    return True    

    
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)
            
        
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

39. Rotate a tuple to the left by `n` positions.

In [22]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)
    rotated_tuple = tup[n:] + tup[:n]
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [24]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)
    rotated_tuple = tup[-n:] + tup[:-n]
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [25]:
def generate_fibonacci(n):
    fibonacci = [0, 1]
    while len(fibonacci) < n:
        next_fibonacci = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_fibonacci)
    return tuple(fibonacci)

fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [29]:
input_str = input("Enter string with , :")

input_list = input_str.split(',')

user_tuple = tuple(input_list)

print("User input tuple:", user_tuple)

Enter string with , : s,e,r,,t,y,y,u,

User input tuple: ('s', 'e', 'r', '', 't', 'y', 'y', 'u', '')

43. Swap two elements in a tuple.

In [31]:
my_tuple = (1,2,3,4,5)
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [32]:
my_tuple = (1,2,3,4,5,6,7)

reverse = my_tuple[::-1]
print(reverse)

(7, 6, 5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [34]:
n = 6

power_of_two = tuple(i * 2 for i in range(n))
print(power_of_two)

(0, 2, 4, 6, 8, 10)

46. Find the longest string in a tuple of strings.

In [36]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

length_string = max(string_tuple, key=len)

print(length_string)

watermelon

47. Find the shortest string in a tuple of strings.

In [37]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

length_string = min(string_tuple, key=len)

print(length_string)

kiwi

48. Create a tuple of the first `n` triangular numbers.

In [38]:
n = 5

triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [40]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

sub_tuple = (3, 4, 5)

contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [42]:
n = 10

alternate_tuple = tuple(i%2 for i in range(n))

print("Tuple of alternating 1s and 0s:", alternate_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [5]:
my_set = set()

my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [8]:
my_set = {1,2,3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

3. Remove an element from a set.

In [13]:
my_set = {1,2,3,4,5}
my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

4. Check if an element exists in a set.

In [16]:
my_set = {1,2,3,4,5}

element_check = 3

if element_check in my_set:
    print(f"element {element_check} is present")
else:
    print(f"element {element_check} not present")

element 3 is present

5. Find the length of a set without using the `len()` function.

In [20]:
my_set = {1,2,3,4,5,6}

count = 0

for _ in my_set:
    count += 1
    
print("length of set is:", count)

length of set is: 6

6. Clear all elements from a set.

In [21]:
my_set = {1,2,3,4,5}

my_set.clear()

print(my_set)

set()

7. Create a set of even numbers from 1 to 10.

In [22]:
even_number = set()

for num in range(1,11):
    if num % 2 == 0:
        even_number.add(num)
        
print("even number set:", even_number)

even number set: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [23]:
odd_number = set()
for num in range(1,11):
    if num % 2 != 0:
        odd_number.add(num)
print("odd number set:", odd_number)

odd number set: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [27]:
set1 = {1,2,3}
set2 = {4,5,6}

set_union = set1.union(set2)
print(set_union)

{1, 2, 3, 4, 5, 6}

10. Find the intersection of two sets.

In [28]:
set1 = {1,2,3}
set2 = {3,4,5}

set_intersection = set1.intersection(set2)

print(set_intersection)

{3}

11. Find the difference between two sets.

In [29]:
set1 = {1,2,3}
set2 = {3,4,5}

set_difference = set1.difference(set2)

print(set_difference)

{1, 2}

12. Check if a set is a subset of another set.

In [34]:
set1 = {1,2,3}
set2 = {1,2,3,4,5,6}

set_issubset = set1.issubset(set2)

print("is set1 subset of set2:",set_issubset)

is set1 subset of set2: True

13. Check if a set is a superset of another set.

In [38]:
set1 = {1,2,3}
set2 = {1,2,3,4,5,6}

set_superset = set2.issuperset(set1)

if set_superset:
    print("is superset:",set_superset)
else:
    print("is superset:",set_superset)

is superset: True

14. Create a set from a list.

In [39]:
my_list = [1,2,3,4,5]
my_set = set(my_list)

print(type(my_set))
print(my_set)

<class 'set'>
{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [40]:
my_set = {1,2,3,4,5}
my_list = list(my_set)

print(type(my_list))
print(my_list)

<class 'list'>
[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [43]:
import random

my_set = {1,2,3,4,5,6}
print ("Original set:", my_set)

random_element = random.choice(list(my_set))

my_set.remove(random_element)

print("Random element removed:", my_set)

Original set: {1, 2, 3, 4, 5, 6}
Random element removed: {1, 2, 3, 5, 6}

17. Pop an element from a set.

In [44]:
my_set = {1,2,3,4,5}

my_set.pop()

print(my_set)

{2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [47]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

set_intersection = set1.intersection(set2)

if not set_intersection:
    print("These sets have no intersection")
else:
    print("These sets have intersection point:", set_intersection)

These sets have intersection point: {4, 5, 6}

19. Find the symmetric difference between two sets.

In [48]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

set_symmetry = set1 ^ set2

print(set_symmetry)

{1, 2, 3, 7, 8, 9}

20. Update a set with elements from another set.

In [51]:
set1 = {1,2,3}
print("Set 1:", set1)

set2 = {4,5,6}
print("Set 2:", set2)

set1.update(set2)

print("Updated set:",set1)

Set 1: {1, 2, 3}
Set 2: {4, 5, 6}
Updated set: {1, 2, 3, 4, 5, 6}

21. Create a set of the first 5 prime numbers.

In [53]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) +1):
        if num % i == 0:
            return False
    return True    

prime_set = set()
num = 2

while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
        
    num += 1
    
print("First 5 prime number are: ", prime_set)

First 5 prime number are:  {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [54]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4} 

if set1 == set2:
    print("Sets are identical")
else:
    print("sets are non-identical")

Sets are identical

23. Create a frozen set.

In [56]:
set_num = {1,2,3,4,5}

frozen_set = frozenset(set_num)

print("Frozen Set:", frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [60]:
set1 = {1,2,3,4}
set2 = {5,6,7,8}

set_disjointed = set1.isdisjoint(set2)

print("Is set disjointed:", set_disjointed)

Is set disjointed: True

25. Create a set of squares of numbers from 1 to 5.

In [61]:
square_set = set()

for num in range(1,6):
    square = num ** 2
    square_set.add(square)
    
print("Square set are:", square_set)

Square set are: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [63]:
set1 = {1,2,3,4,5,6}

even_set = set()

for num in set1:
    if num % 2 == 0:
        even_set.add(num)
        
print("Original Set:", set1)
print("Even Numbers Set:", even_set)

Original Set: {1, 2, 3, 4, 5, 6}
Even Numbers Set: {2, 4, 6}

27. Multiply all elements in a set by 2.

In [64]:
original_set = {1,2,3,4,5}

multiplied_set = set()

for num in original_set:
    multiplied_num = num * 2
    
    multiplied_set.add(multiplied_num)
print("Original Set:", original_set)

print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [2]:
import random

num_random_number = 5

random_number_set = set()
for _ in range(num_random_number):
    random_num = random.randint(1,100)
    random_number_set.add(random_num)
    
print("Set of random number", random_number_set)

Set of random number {67, 5, 40, 50, 19}

29. Check if a set is empty.

In [7]:
my_set = set()

if not my_set:
    print("Set is empty")
else:
    print("Set is not empty")

Set is empty

30. Create a nested set (hint: use frozenset).

In [9]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}

frozenset1 = frozenset(set1)
frozenset2 = frozenset(set2)

nested_set = {frozenset1 , frozenset2}

print("Nested set:", nested_set)

Nested set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [11]:
my_set = {1,2,3,4,5}
print("Initial set:", my_set)
    
element_to_remove = 2

my_set.discard(element_to_remove)

print("New Set:", my_set)

Initial set: {1, 2, 3, 4, 5}
New Set: {1, 3, 4, 5}

32. Compare two sets.

In [18]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [19]:
string1 = "Hello World"

set1 = set(string1)

print(set1)

{'e', ' ', 'W', 'r', 'l', 'd', 'H', 'o'}

34. Convert a set of strings to a set of integers.

In [20]:
string_set = {"123","456","789"}
integer_set = set()

for string in string_set:
    integer_value = int(string)
    
    integer_set.add(integer_value)
    
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'123', '456', '789'}
Converted Integer Set: {456, 123, 789}

35. Convert a set of integers to a set of strings.

In [26]:
integers_set = {1, 2, 3, 4, 5}

strings_set = set()

for num in integers_set:
    num_str = str(num)
    
    strings_set.add(num_str)
    
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'2', '4', '5', '3', '1'}

36. Create a set from a tuple.

In [27]:
input_tuple = (1, 2, 3, 2, 4, 5, 1)

output_set = set(input_tuple)

print(output_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [28]:
input_set = {1, 2, 3, 4, 5}

output_tuple = tuple(input_set)

print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [30]:
my_set = {15, 7, 22, 13, 8}

max_value = None

for num in my_set:
    if max_value is None or num > max_value:
        max_value = num
        
print("Maximum value:", max_value)

Maximum value: 22

39. Find the minimum value in a set.

In [35]:
number_set = {15, 8, 23, 4, 42, 11}

min_value = None

for num in number_set:
    if min_value is None or num < min_value:
        min_value = num
        
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

40. Create a set from user input.

In [36]:
user_set = set()

print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")
    
    if user_input.lower() == 'done':
        break
        
    user_set.add(user_input)
    
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  sidd
>  raj
>  12
>  True, False
>  DONE

Final set: {'raj', '12', 'sidd', 'True, False'}

41. Check if the intersection of two sets is empty.

In [38]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

set_itersection = set1.intersection(set2)

if not set_itersection:
    print("The intersection is empty")
else:
    print("the intersection has elements")

the intersection has elements

42. Create a set of the first 5 Fibonacci numbers.

In [39]:
fibonacci_set = set()

a, b = 0, 1

for _ in range(6):
    fibonacci_set.add(a)
    
    a, b = b, a+b
    
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [42]:
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

new_set = list(set(original_list))

print(type(new_set))
print(new_set)

<class 'list'>
[2, 4, 6, 8, 10, 12, 14]

44. Check if two sets have the same elements, regardless of their count.

In [43]:
def have_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    
    return sorted_list1 == sorted_list2

set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

result = have_same_elements(set1, set2)

if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [48]:
def generate_powers_of_2(n):
    powers_of_2 = set()    
    for i in range(n):        
        power = 2 ** i      
        powers_of_2.add(power)
    return powers_of_2
n=5

powers_set = generate_powers_of_2(n)

print(powers_set)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [50]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

list_to_set = set(my_list)

common_element = []

for element in my_set:
    if element in list_to_set:
        common_element.append(element)
        
print("Common elements:", common_element)

Common elements: [7, 9, 12]

47. Create a set of the first `n` triangular numbers.

In [54]:
def generate_triangular_numbers(n):
    triangular_numbers = set()
    for i in range(1 , n+1):
        triangular_number = i * (i + 1) // 2
        triangular_numbers.add(triangular_number)
    return triangular_numbers

n = int(input("Enter the value of n: "))
triangular_set = generate_triangular_numbers(n)
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  3

The set of the first 3 triangular numbers is: {1, 3, 6}

48. Check if a set contains another set as a subset.

In [55]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is subset of set1")
else:
    print("set2 is not subset of set1")

set2 is subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [57]:
def create_alternating_set(n):
    alternating_set = set()
    
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)
        else:
            alternating_set.add(0)
    return alternating_set

length_n = 10

result = create_alternating_set(length_n)

print(result)

{0, 1}

50. Merge multiple sets into one.

In [59]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

set_union = set1.union(set2, set3)

print("Merged Set:", set_union)

Merged Set: {1, 2, 3, 4, 5, 6, 7}